<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./dist/js/angular.min.js"></script>
    <script src="./dist/js/jquery.min.js"></script>
    <script src="./dist/jquery-ui/jquery-ui.min.js"></script>
    <script src="./dist/js/moment.min.js"></script>
    <link rel="stylesheet" href="./dist/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="./dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./dist/foundation-icons/foundation-icons.css">
    <script src="./dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./dist/css/font-awesome.min.css">
    <link href="./css/dag.css" rel="stylesheet">
    <link href="./css/spinner.css" rel="stylesheet">
    <script src="./js/dag_access_config.js"></script>
    <title>DAG Access Test</title>
  </head>
  <body>
    <div ng-app="checkpointInfo" id="cd-checkpointInfo">
      <div ng-controller="checkpointInfoCtrl">
        <div  ng-class="{'nocursor': desktop == null}">
          <div class="container">
            <div class="row header">
              <div class="col-xs-1">
                <img src="/image/dag.png" height="30px" style="margin-top:10px" ng-click="resetTCP()">
              </div>
              <div class="col-xs-10 text-center">
                <h1 ng-show="pointName!='...'"><i class="glyphicon glyphicon-map-marker"></i> {{pointName}} <span style="font-size:36px"> #{{nbDetections}}</span></h1>
                <div class="spinner text-center" ng-show="pointName=='...'">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                </div>
              </div>
              <div class="col-xs-1">
                <img src="/image/dag.png" height="30px" style="margin-top:10px" ng-click="resetTCP()">
              </div>
            </div>
            <div class="row txCommand">
              <div class="col-xs-12">
                <form class="form-inline">
                  <div class="col-xs-2">
                    <label for="stackSize">stack Size</label>
                    <input type="text" class="form-control input-xs" ng-model="stackSize" id="stackSize">
                  </div>
                  <div class="col-xs-6">
                    <label for="dataTx">Data to TX:</label>
                    <input type="text" class="form-control input-xs" ng-model="dataTx" id="dataTx">
                  </div>
                  <div class="col-xs-4" style="margin-top:17px;">
                    <div class="checkbox">
        							<label><input type="checkbox" ng-model="broadcast"> broadcast</label>
      							</div>
                    <button class="btn" ng-click="sendData(dataTx,broadcast)">TX test</button>
                    <button class="btn" ng-click="clearRx()">Clear RX</button>
                    <button class="btn" ng-class="freeTurnstileClass" ng-click="freeTurnstile()">Libération</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row txCommandRepeat">
              <div class="col-xs-12">
                <form class="form-inline">
                  <div class="col-xs-2">
                    <label for="interval">Interval(ms):</label>
                    <input type="text" class="form-control input-xs" ng-model="interval" id="interval">
                  </div>
                  <div class="col-xs-6">
                    <label for="dataTx">Data to TX:</label>
                    <input type="text" class="form-control input-xs" ng-model="dataTxRepeat" id="dataTx">
                  </div>
                  <div class="col-xs-4" style="margin-top:17px;">
                    <div class="checkbox">
                      <label><input type="checkbox" ng-model="broadcastRepeat"> broadcast</label>
    							   </div>
                     <button class="btn" ng-click="sendDataRepeat(dataTxRepeat,broadcastRepeat)">TX interval</button>
                     <button class="btn" ng-click="stopInterval()" ng-disabled="txRepeatId.length == 0">Stop TX<span style="font-size:8px"> {{txRepeatId.length > 0 ? '(' + txRepeatId.length + ')':''}}</span></button>
                   </div>
                </form>
              </div>
            </div>
            <div class="row optionLog">
              <div class="col-xs-12 text-center">
                <div class="checkbox">
                  <label class="checkbox-inline"><input type="checkbox" ng-model="showLog">LOG from RPI</label>
                  <label class="checkbox-inline"><input type="checkbox" ng-model="showLogHWY">LOG HIGHWAY from RPI</label>
                  <label class="checkbox-inline"><input type="checkbox" ng-model="showLogEvent">LOG EVENT from RPI</label>
                </div>
                <div class="checkbox">
                  <label class="checkbox-inline"><input type="checkbox" ng-click="configLOG()" ng-model="activeLog.logSocketTX">LOG TX TCP Socket</label>
                  <label class="checkbox-inline"><input type="checkbox" ng-click="configLOG()" ng-model="activeLog.logSocketRX">LOG RX TCP Socket</label>
                  <label class="checkbox-inline"><input type="checkbox" ng-click="configLOG()" ng-model="activeLog.logTCPRX">LOG RX TCP</label>
                  <label class="checkbox-inline"><input type="checkbox" ng-click="configLOG()" ng-model="activeLog.logWebTX">LOG TX WEBSOCKET</label>
                  <label class="checkbox-inline"><input type="checkbox" ng-click="configLOG()" ng-model="activeLog.logWebRX">LOG RX WEBSOCKET</label>
                </div>
                <div class="trafficLight">
                  <span ng-class="redLightClass" style="margin-right:10px"></span>
                  <span ng-class="orangeLightClass" style="margin-right:10px"></span>
                  <span ng-class="greenLightClass"></span>
                </div>
                <div class="trafficSystemLight">
                  <span ng-class="redSystemLightClass" style="margin-right:10px"></span>
                  <span ng-class="orangeSystemLightClass" style="margin-right:10px"></span>
                  <span ng-class="greenSystemLightclass"></span>
                </div>
              </div>
            </div>
            <div class="row Log">
              <div class="col-xs-12 col-sm-12 col-xl-12 text-center">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered text-center">
                    <thead>
                      <tr>
                        <th  class="text-center">RX #</th>
                        <th  class="text-center">RX data</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="data in datas">
                        <td class="timestamp" ng-class="data.data.msgType=='hello'?'helloMsg':(data.data.msgType=='ack'?'ackMsg':(data.data.msgType=='nack'?'nackMsg':(data.data.msgType=='event'?(data.data.payLoad.type=='ok'?'eventOkMsg':(data.data.payLoad.type=='ko'?'eventKoMsg':'eventMsg')):(data.data.msgType=='goodbye'?'goodbyeMsg':(data.data.msgType=='data'?'dataMsg':(data.data.msgType=='monitoringRFID'?'monitoringRFIDMsg':(data.data.msgType=='monitoringHWY'?'monitoringHWY':'')))))))">
                          <div>
                            {{data.time}}
                          </div>
                          <div class="smallTrafficLight" ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null" style="margin-left:10px">
                            <span class="smallRedLightOff" ng-if="data.data.payLoad.ticket.visual.red==0" style="margin-right:10px"></span>
                            <span class="smallRedLightOn" ng-if="data.data.payLoad.ticket.visual.red==1" style="margin-right:10px"></span>
                            <span class="smallOrangeLightOff" ng-if="data.data.payLoad.ticket.visual.orange==0" style="margin-right:10px"></span>
                            <span class="smallOrangeLightOn" ng-if="data.data.payLoad.ticket.visual.orange==1" style="margin-right:10px"></span>
                            <span class="smallGreenLightOff" ng-if="data.data.payLoad.ticket.visual.green==0"></span>
                            <span class="smallGreenLightOn" ng-if="data.data.payLoad.ticket.visual.green==1"></span>
                          </div>
                        </td>
                        <td class="text-left tooltipInfo" data-toggle="tooltip" data-placement="left" title="copy : {{data.data | json:0 | limitTo:100}}...." ng-click="copy(data)" ng-class="data.data.msgType=='hello'?'helloMsg':(data.data.msgType=='ack'?'ackMsg':(data.data.msgType=='nack'?'nackMsg':(data.data.msgType=='event'?(data.data.payLoad.type=='ok'?'eventOkMsg':(data.data.payLoad.type=='ko'?'eventKoMsg':'eventMsg')):(data.data.msgType=='goodbye'?'goodbyeMsg':(data.data.msgType=='data'?'dataMsg':(data.data.msgType=='monitoringRFID'?'monitoringRFIDMsg':(data.data.msgType=='monitoringHWY'?'monitoringHWY':'')))))))">
                          <div ng-switch="data.data.msgType">
                            <div class="productInfo" ng-switch-when="event">
                              <div ng-switch="data.data.payLoad.type">
                                <div class="dataInfo" ng-switch-when="ok|ko" ng-switch-when-separator="|">
                                  <div class="row">
                                    <div class="col-xs-9 col-sm-9 col-xl-9">
                                      <div  class="dag">
                                        <i class="fa fa-tags"></i> <span class="">{{data.data.payLoad.ticket.uidDAG}}</span> <i class="fa fa-arrow-right"></i> <i class="glyphicon glyphicon-barcode"></i> <span class="">{{data.data.payLoad.ticket.seriaNumber}}</span>
                                        <span class="antenna" ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null">
                                          <i class="fa fa-wifi"></i> {{data.data.payLoad.ticket.antennaID}}
                                        </span>
                                      </div>
                                      <div ng-switch="data.data.payLoad.ticket.itemType">
                                        <div ng-switch-when="0"> <!-- Season product -->
                                          <div ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null">
                                            <i class="fa fa-snowflake-o" style="font-size:18px"></i> <span class="productName">{{data.data.payLoad.ticket.itemDesignation}}</span>
                                          </div>
                                          <div class="itemDate" ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null">
                                            ItemDate: {{momentFormat(data.data.payLoad.ticket.itemStartDate)}} <i class="glyphicon glyphicon-arrow-right"></i> {{momentFormat(data.data.payLoad.ticket.itemEndDate)}}
                                          </div>
                                        </div>
                                        <div ng-switch-when="1"> <!-- Days product -->
                                          <div ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null">
                                            <i class="fa fa-calendar-check-o" style="font-size:16px"></i> <span class="productName">{{data.data.payLoad.ticket.itemDesignation}}</span>
                                          </div>
                                          <div class="useFromDate" ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null">
                                            Use From Date: {{momentFormat(data.data.payLoad.ticket.UseFromDate)}}
                                          </div>
                                          <div class="rfidDate" ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null">
                                            RFID Date: {{momentFormat(data.data.payLoad.ticket.dDate_Debut_Validite_RFID)}} <i class="glyphicon glyphicon-arrow-right"></i> {{momentFormat(data.data.payLoad.ticket.dDate_Fin_Validite_RFID)}}
                                          </div>
                                        </div>
                                        <div ng-switch-when="2"> <!-- Time product -->
                                          <div ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null">
                                            <i class="fa fa-hourglass-start" style="font-size:14px"></i> <span class="productName">{{data.data.payLoad.ticket.itemDesignation}}</span>
                                          </div>
                                          <div class="useFromDate" ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null">
                                            Use From Date: {{momentFormat(data.data.payLoad.ticket.UseFromDate)}}
                                          </div>
                                          <div class="rfidDate" ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null">
                                            RFID Date: {{momentFormat(data.data.payLoad.ticket.dDate_Debut_Validite_RFID)}} <i class="glyphicon glyphicon-arrow-right"></i> {{momentFormat(data.data.payLoad.ticket.dDate_Fin_Validite_RFID)}}
                                          </div>
                                        </div>
                                        <div ng-switch-when="3"> <!-- Points product -->
                                          <div ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null">
                                            <i class="fi-die-five" style="font-size:18px"></i> <span class="productName">{{data.data.payLoad.ticket.itemDesignation}}</span>
                                          </div>
                                          <div class="qtyAfterRFID" ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null">
                                            qtyAfterRFID: {{data.data.payLoad.ticket.qtyAfterRFID}}
                                          </div>
                                        </div>
                                        <div class="error" ng-if="data.data.msgType=='event' && data.data.payLoad.ticket != null && data.data.payLoad.ticket.errorDescription[0].indexOf('No error') == -1">
                                          <i class="glyphicon glyphicon-alert"></i> {{data.data.payLoad.ticket.errorDescription | join:' / '}}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-xl-3 text-center">
                                      <div class="" ng-if="data.data.payLoad.ticket.userInfo != null">
                                        <div ng-if="data.data.payLoad.ticket.userInfo.img.length > 0">
                                          <img ng-src="./photo/{{data.data.payLoad.ticket.userInfo.img}}" height="50px">
                                        </div>
                                        <div class="userName">
                                          {{data.data.payLoad.ticket.userInfo.name}} {{data.data.payLoad.ticket.userInfo.firstName}}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="dataInfo" ng-switch-when="freeTurnstile">
                                  {{data.data}}
                                </div>
                                <div class="dataInfo" ng-switch-default>
                                  {{data.data}}
                                </div>
                              </div>
                            </div>
                            <div class="dataInfo" ng-switch-when="data">
                              {{data.data}}
                            </div>
                            <div class="logInfoData" ng-switch-when="log">
                              <div ng-class="data.data.payLoad.text.indexOf('Exception')>0?'nackMsg':''">
                                <div ng-switch="data.data.payLoad.origin">
                                  <div ng-switch--when="accessControlManager">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch--when="detectionPointManager">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch--when="highway">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch--when="rfidManager">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch--when="sucReader">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch--when="rodinbellReader">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch--when="dataManager">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch--when="dagAccessManager">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch--when="dagLive">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch--when="openPass">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch--when="socketManager">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch--when="socketServer">
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-switch-default>
                                    <div class="row">
                                      <div class="col-xs-1 text-center" ng-class="data.data.payLoad.type=='debug'?'logDebug':data.data.payLoad.type=='info'?'logInfo':data.data.payLoad.type=='error'?'logError':data.data.payLoad.type=='warn'?'logWarn':data.data.payLoad.type=='fatal'?'logFatal':''">
                                        {{data.data.payLoad.type}}
                                      </div>
                                      <div class="col-xs-2 text-center">
                                        {{data.data.payLoad.origin}}
                                      </div>
                                      <div class="col-xs-9">
                                        {{data.data.payLoad.text}}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="monitoringRFIDInfo" ng-switch-when="monitoringRFID">
                              {{data.data}}
                            </div>
                            <div class="otherInfo" ng-switch-default>
                              {{data.data}}
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="row technicalInfo">
                <div class="col-xs-6">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="version">
                        Version: {{rpiVersion}}
                      </div>
                      <div class="localIP">
                        <i class="glyphicon glyphicon-link"></i> Local IP: {{DAGLiveLocalIpAddress.split(':')[0]}}
                      </div>
                      <div class="travelTime">
                        <i class="fa fa-history"></i> {{travelTime}}s
                      </div>
                      <div class="pointCost">
                        <i class="fi-die-two" style="font-size:12px;"></i> {{pointCost}} point(s)
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <div class="btn btn-xs btn-success" ng-show="tcpconnectOK" ng-click="resetTCP()"><i class="fa fa-wifi glyphicon-margin"></i>Connected</div>
                      <div class="btn btn-xs btn-danger" ng-show="!tcpconnectOK" ng-click="resetTCP()"><i class="fa fa-wifi glyphicon-margin"></i>Disconnected</div>
                      <div class="btn btn-xs" ng-class="stateHwItem.stateHw"><i class="fa fa-cubes" ng-class="stateHwItem.isInProgress?'glyphicon-refresh-animate':'glyphicon-margin'"></i>PRN</div>
                      <div class="btn btn-xs" ng-class="stateHwEvent.stateHw"><i class="fa fa-flag-checkered" ng-class="stateHwEvent.isInProgress?'glyphicon-refresh-animate':'glyphicon-margin'"></i> Detection</div>
                      <div class="btn btn-xs" ng-class="stateHwSetup.stateHw"><i class="fa fa-sliders" ng-class="stateHwSetup.isInProgress?'glyphicon-refresh-animate':'glyphicon-margin'"></i></i> Ini</div>
                      <div class="btn btn-xs" ng-class="stateHwIhm.stateHw"><i class="fa fa-video-camera" ng-class="stateHwIhm.isInProgress?'glyphicon-refresh-animate':'glyphicon-margin'"></i> Sound + pict</div>
                      <div class="btn btn-xs" ng-class="stateHwOpenpass.stateHw"><i class="fa fa-opera" ng-class="stateHwOpenpass.isInProgress?'glyphicon-refresh-animate':'glyphicon-margin'"></i> Openpass</div>
                      <div class="btn btn-xs" ng-class="stateHwData.stateHw"><i class="fa fa-shopping-cart" ng-class="stateHwData.isInProgress?'glyphicon-refresh-animate':'glyphicon-margin'"></i> Virtual</div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 text-right">
                  <span class="systemHour">{{systemHour}}</span>
                  <span><img src="/image/dag.png" height="30px" style="padding-bottom:10px;"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
